.body{
    font-family: 'Euclid Circular A', sans-serif;
  }
  .second{
      display: flex;
      background-color: rgb(243, 249, 254);
      padding: 60px 60px;
      height: 87.3vh;
    }
    .startbtn{
    background-color: rgb(20, 176, 130);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Euclid Circular A', sans-serif;
    font-weight:bold;
    border-radius: 4px;
    padding-right: 60px;
    padding-left: 60px;
    }
    .startbtn:hover{
      background-color: rgb(239, 189, 97);
    }
    .push-left{
      margin-left: 70px;
      margin-top: 0px;
      padding: 50px 8px 50px 20px;
    }
    .push-right{
      padding: 50px 50px;
    }
    .push-left h1{
      font-size:55px;
      font-weight: 600;
      color: black;
      margin-bottom: 25px;
    }
    .push-left p{
      font-size: 18px;
      margin-right: 40px;
      padding-right: 70px;
      color: rgb(120, 118, 118);
      font-weight: 460;
      line-height: 27px;
      letter-spacing: 1.1px;
    }
    .startbtn_hid{
      display: none;
    }
  
   
  
.card_item{
    margin-top: 110px;
    display: flex;
    flex-direction: row;
   justify-content: center;
   /* margin-bottom: 100px; */
}  
.card_item a{
    text-decoration: none;
    color: rgb(160, 160, 160)
}
.card_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 70px 30px 70px;
    border: 0.6px solid black;
    margin: 15px;
    border-radius: 1rem;
    
}
.img_svg{
  display: block;
  margin-left: 30%;
  margin-right: 50%;
}
.card_items p{
    padding-top: 15px;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}
.why{
    margin-top: 60px;
    text-align: center;
    font-size:52px;
    font-weight: 600;
    margin-bottom: 40px;
}
.why_push{
    color: rgb(19, 175, 130);
}
.push_sols{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px;
    column-gap: 10px;
}
.push_sol{
    width: 41%;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 30px;
}
.push_sol svg{
    margin-bottom: 32px;
}
.push_sol h1{
    padding: 7px;
    font-size: 28px;
    font-weight: 600;
}
.push_sol p{
    padding: 10px 10px 0px 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(122, 122, 122);
    letter-spacing: 0.03rem;
}
.text_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    background-color: rgb(243, 249, 254);
    padding: 100px 50px 100px 50px;
    border-radius: 1rem;
}
.text_boxs{
    display: flex;
    flex-direction: column;
}
.text_boxs h1{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 00.01rem;
    padding: 5px 10px 5px 10px;
}
.text_boxs p{
    font-size: 20px;
    font-weight: 400;
    padding: 5px 10px 5px 10px;
}
.text_boxs a{
    color: rgb(50, 144, 114);
    font-size: 20px;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
}
.industries{
    display: flex;
    flex-wrap: wrap;
    column-gap: 29px;
    row-gap: 30px;
    flex-direction: row;
    justify-content:center;
    /* align-items: center; */
    margin-bottom: 150px;
    
}
.industries a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 232px;
    padding:32px 24px;
    /* margin: 20px; */
    column-gap: 16px;
    text-decoration: none;
    color: black;
    /* box-shadow: 0 0 5px 0.0001px black; */
    box-shadow: 0px 3px 20px rgba(0,0,0,0.05) !important;
    box-sizing: border-box;
    border-radius: 16px;
}
.industries p{
    font-size: 20px;
    line-height: 30px;
    color: #000;
    font-weight: 500;
}
.industries a:hover{
    background-color: #F3FFFC;
}
.custom-board{
    border-radius: 40px;
    background: #0C6A4E;
    position: relative;
    overflow: hidden;
    padding: 80px 4%;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 150px;
}
.custom-board svg{
    position: absolute;
}
.custom-board svg:nth-of-type(1) {
    top: -70px;
    left: -280px;
}
.custom-board svg:nth-of-type(2) {
    bottom: -50px;
    right: -140px;
}
.custom-board h2 {
    /* max-width: 1050px; */
    font-size: 48px;
    /* line-height: 60px; */
    color: #fff;
    /* max-width: 900px; */
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin: 0 auto 32px;
    position: relative;
    /* line-height: 56px; */
}
.custom-board>p {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    opacity: 0.6;
    margin: 0 auto 32px;
    max-width: 900px;
    width: 100%;
    text-align: center;
}
.custom-board a {
    text-decoration: none;
    padding: 13px 57px 15px 57px;
    display: block;
    max-width: max-content;
    margin: 0 auto;
    position: relative;
}
.butto {
    border-radius: 5px;
    padding: 13px 18px 15px 18px;
    background: #14B082;
    color: #fff;
    transition: .35s;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}
.custom-board a:hover{
    background-color: rgb(239, 189, 97);
}
.container {
    margin: 0 auto;
    width: 100%;
    padding-right: 32px;
    padding-left: 32px;
    max-width: 1340px;
}
.formats-guides__title {
    max-width: 485px;
    width: 100%;
    font-size: 48px;
    line-height: 60px;
    font-weight: 500;
    margin: 0 auto 64px;
    text-align: center;
}
.formats-guides__hero {
    display: flex;
    column-gap: 40px;
    justify-content: space-between;
    margin-bottom: 150px;
}
.formats-guides__hero--mob {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
}
.formats-guides__hero--mob .button {
    width: 100%;
}
.formats-guides__hero--mob .custom-link {
    max-width: max-content;
    color: #101C3D;
    font-size: 18px;
    line-height: 28px;
}
.formats-guides__desc {
    max-width: 550px;
    width: 100%;
    padding: 0 0 0 0;
}
.formats-guides__desc h4 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
    font-weight: 400;
}
.formats-guides__desc p {
    display: flex;
    column-gap: 16px;
    margin-bottom: 16px;
}
.formats-guides__desc p span {
    font-size: 20px;
    line-height: 30px;
    color: rgba(0,0,0,0.7);
}
.formats-guides__desc>div {
    display: flex;
    column-gap: 26px;
    align-items: center;
    margin-top: 32px;
}
.formats-guides__video {
    width: 49%;
    height: 350px;
    cursor: pointer;
    filter: drop-shadow(0px 10px 50px rgba(0,0,0,0.08));
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    border: 2px solid #D3D3D3;
}
.formats-guides__video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
    background-image: url(https://propellerads.com/wp-content/uploads/2022/11/push.png);
}
.formats-guides__video svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.formats-guides__hero--mob .custom-link {
    max-width: max-content;
    color: #101C3D;
    font-size: 18px;
    line-height: 28px;
}
.formats-guides__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 64px;
    row-gap: 64px;
}
.formats-guides__card {
    width: calc(100%/2 - 32px);
    border-radius: 16px;
    background: #fff;
    transition: .35s;
    flex-direction: column;
    display: flex;
}
.formats-guides__card img {
    height: 240px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left center;
    object-position: left center;
    border-radius: 16px 16px 0px 0px;
}
.formats-guides__card>div {
    padding: 24px 23px 24px;
    border-top: none;
    border: 1px solid #F7F7F7;
    border-radius: 16px;
    flex-grow: 1;
}
.formats-guides__card>div span {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 22px;
    display: block;
    color: #14B082;
    font-weight: 600;
}
.formats-guides__card>div p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #12141D;
}
.custom-link {
    position: relative;
    padding: 0 0 2px 0;
    font-weight: 500;
    transition: .35s;
    color: #101C3D;
    font-size: 20px;
    line-height: 28px;
    text-decoration:none;
}
.custom-link::after{
    background: #101C3D;
    height: 1.5px;
    content: " ";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.formats-guides__cards a{
    text-decoration: none;
}
.butt_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
}
.button_extra{
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
    background: #14B082;
    border-radius: 5px;
    padding: 13px 18px 15px 18px;
}
.button_extra:hover{
    background-color: rgb(239, 189, 97);
}

.custom-run--inner {
    padding: 56px 80px 56px 107px;
    border-radius: 16px;
    background: #0C6A4E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    width: 90%;
    margin: 0 auto;
}
.custom-run--inner h1 {
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-weight: 500;
}
.custom-run--button {
    padding: 44px 52px;
    border: 1px solid rgba(255,255,255,0.2);
    position: relative;
    min-width: 318px;
}
.custom-run--button a {
    display: block;
    padding: 13px 74px 15px;
}
.custom-run--button svg {
    position: absolute;
}
.custom-run--button svg:nth-of-type(1) {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}
.custom-run--button svg:nth-of-type(2) {
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
}
.custom-run--button svg:nth-of-type(3) {
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
}
.custom-run--button svg:nth-of-type(4) {
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
}
.custom-run--inner a:hover{
    background-color: rgb(239, 189, 97);
}

/* footer */
.footer {
    padding: 80px 0 54px;
    background: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    row-gap: 48px;
}
.container {
    margin: 0 auto;
    width: 100%;
    padding-right: 32px;
    padding-left: 32px;
    max-width: 1340px;
}
.footer--center {
    padding: 40px 0;
    background: #F3F9FF;
}
.footer--center--approved {
    display: flex;
    align-items: center;
    column-gap: 80px;
    row-gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.footer--center--approved img {
    max-width: 108px;
    height: auto;
}

.footer--top {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
}
.footer__info {
    max-width: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer--top--approved {
    padding: 24px 0;
    display: none;
    position: relative;
    margin-bottom: 40px;
}

.footer--top--approved h6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    position: relative;
}
.footer--top--approved>div {
    display: flex;
    column-gap: 40px;
    align-items: flex-end;
    position: relative;
}
.footer--top--approved>div img {
    max-width: calc(20% - 32px);
}

.footer__links {
    display: flex;
    flex-grow: 1;
    column-gap: 30px;
    justify-content: space-between;
    padding-left: 9vw;
    text-decoration: none;
}
.footer__payment--mob {
    display: none;
    margin-top: 40px;
    padding-bottom: 24px;
}
.footer__info>a:nth-of-type(1) {
    margin-bottom: 22px;
}
.footer__info>a:nth-of-type(1) img {
    display: block;
    margin-left: -6px;
}
.footer__info--part {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    
}
.footer__info--part p {
    margin-right: 10px;
    color: #12141D;
    font-size: 14px;
    line-height: 22px;
    line-height: 20px;
}

.footer__social {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
    max-width: 134px;
    width: 100%;
}
.footer__social a {
    opacity: 0.6;
    transition: .35s;
}
.footer__info>a:not(:first-child):not(:last-child) {
    margin-bottom: 16px;
    text-decoration: none;
}
.footer__info>a:not(:first-child) {
    color: #12141D;
    transition: .35s;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
}
.footer__info>a:not(:first-child):not(:last-child) {
    margin-bottom: 16px;
    text-decoration: none;
}
.footer__info>a:not(:first-child) {
    color: #12141D;
    transition: .35s;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
}
.footer__info--payment {
    margin-top: 12px;
}
.footer__language {
    display: none;
    margin-right: 0;
}
.header__language {
    position: relative;
}
.header__language--currency {
    display: flex;
    column-gap: 8px;
    align-items: center;
}
.header__language--list {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    transition: .35s;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
}
.footer__language .header__language--currency span {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #000;
}
.footer__language .header__language--list span {
    background: #fff;
}

.header__language--list span {
    padding: 2px 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #000;
}
.footer__link {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    
}
.footer__link a{
    text-decoration: none;
    color: #12141D;
    font-size: 14px;
    font-weight: 450;
    line-height: 24px;
}
.footer__link h6 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #18181B;
    margin-bottom: 8px;
}
.footer__payment--mob img {
    max-width: 218px;
    width: 100%;
    height: auto;
}
.footer--center h3 {
    text-align: center;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    margin-bottom: 40px;
}
.footer--center--approved {
    display: flex;
    align-items: center;
    column-gap: 80px;
    row-gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.footer--center--approved img {
    max-width: 108px;
    height: auto;
}

.footer--bottom {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.footer__technical {
    display: flex;
    column-gap: 32px;
}
.footer__technical a {
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    color: #52525B;
    transition: .35s;
}
.footer--copy {
    font-size: 13px;
    line-height: 20px;
    color: #52525B;
}




@media (max-width: 768px) {
    /* .body{
        overflow-x: hidden;
    } */
    .second{
      flex-direction: column;
      height: 100%;
    }
    .push-left{
      text-align: center;
      padding: 0;
      margin: 0;
    }
    .push-left h1{
      padding: 0;
      margin: 0;
      font-size: 45px;
    }
    .push-left p{
      padding: 20px 0 0 0;
      margin: 0;
    }
    .push-right img{
      min-width: 100%;
      height: auto;
      margin-top: -35px;
    }
    .push-left .startbtn{
      display:none;
      margin: 0;
      padding: 0;
    }
    .startbtn_hid{
      display: block;
      background-color: rgb(20, 176, 130);
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 18px;
      font-family: 'Euclid Circular A', sans-serif;
      font-weight:bold;
      border-radius: 4px;
      padding-right: 60px;
      padding-left: 60px;
    }
    .startbtn_hid:hover{
      background-color: rgb(239, 189, 97);
    }
    .card_item{
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: flex-start;
    column-gap: 16px;
    width: 100%;
    margin-bottom: 80px;
    padding: 0 0 10px 20px;
    }
    .card_items{
        min-width: 150px;
        padding: 24px 14px;
        row-gap: 14px;
    }
    .why{
        font-size: 34px;
        line-height: 40px;
        font-weight: 550;
    }
    .push_sols{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 0 20px;
    }
    .push_sol{
        width: 100%;
        padding: 20px;
        margin: 0 0 30px 0;
    }
    .push_sol svg{
        margin-bottom: 24px;
    width: 48px;
    height: 48px;
    }
    .push_sol p{
        font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
    font-weight: 500;
    }
    .text_box{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }
    .text_boxs h1{
        font-size: 20px;
        line-height: 30px;
        font-weight: 550;
        margin-bottom: 16px;
    }
    .text_boxs p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
    }
    .text_boxs a{
        font-size: 18px;
        line-height: 26px;
    }
    .industries{
        column-gap: 19px;
        row-gap: 24px;
        margin-bottom: 80px;
        padding: 5px;
    }
    .industries a{
        width: 100%;
        padding: 10px;
    }
    .custom-board{
        padding: 48px 20px;
        border-radius: 24px;
    }
    .container{
        padding: 0 20px;
    }
    .custom-board svg:nth-of-type(1) {
        top: -70px;
        left: -180px;
        max-width: 540px;
        height: auto;
    }
    .custom-board svg:nth-of-type(2) {
        bottom: -80px;
        right: -60px;
        max-width: 180px;
        height: auto;
    }
    .custom-board h2 {
        max-width: 276px;
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
    }
    .custom-board>p {
        font-size: 18px;
        line-height: 26px;
    }
    .custom-board a {
        font-size: 18px;
    }
    .formats-guides__title {
        font-size: 31px;
        line-height: 40px;
        font-weight: 550;
        margin: 0 auto 40px;
    }
    .formats-guides__hero {
        flex-direction: column;
        margin-bottom: 60px;
        row-gap: 16px;
    }
    .formats-guides__desc {
        max-width: 100%;
        padding: 0;
    }
    .formats-guides__desc h4 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 550;
    }
    .formats-guides__desc p span {
        font-size: 16px;
        line-height: 24px;
        font-weight: 530;

    }
    .formats-guides__desc>div {
        display: none;
    }
    .formats-guides__video {
        width: 100%;
        height: 280px;
        margin: 0 auto 16px;
    }
    .formats-guides__hero--mob {
        display: flex;
    }
    .formats-guides__hero--mob .button {
        width: 100%;
        text-decoration: none;
        border-radius: 5px;
        padding: 13px 18px 15px 18px;
        background: #14B082;
        color: #fff;
        text-align: center;
        font-weight: 500;
        max-width: 370px;
        font-size: 16px;
        line-height: 24px;
    }
    .formats-guides__cards{
        display: flex;
        flex-direction: column;
        column-gap: 20px;
        row-gap: 20px;
        flex-wrap: wrap;
    }
    .formats-guides__card {
        width: 100%;
    }
    .custom-run--inner {
        padding: 60px 39px;
        flex-direction: column;
        row-gap: 30px;
        margin-top: -100px;
    }
    .custom-run--inner h1{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        font-weight: 550;
    }
    .custom-run--button {
        padding: 26px 24px;
        min-width: 250px;
    }
    .button_extra{
        width: 100%;
        margin: -30px 14px 15px 14px;
        text-align: center;
    }
    .footer__info {
        /* max-width: 100%; */
        margin-bottom: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer--top {
        justify-content: space-between;
        column-gap: 0;
        flex-direction: column;
        display: flex;
    }
    .footer__social {
        max-width: 100%;
    }
    .footer--top--approved{
        display: block;
        position: relative;
        margin-bottom: 40px;
        /* padding:30px 0px; */
        background: #F3F9FF;
        /* width: calc(100% + 35px); */
        /* content: " "; */
        /* position: absolute; */

    }
    .footer--center{
        display: none;
    }
    .footer__links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px 16px;
        padding-left: 0;
    }
    .footer {
        row-gap: 24px;
        padding-top: 24px;
        padding-bottom: 20px;
    }
    .footer__technical {
        flex-wrap: wrap;
        row-gap: 14px;
        margin-bottom: 32px;
        justify-content: space-between;
    }
    .footer .container:first-child {
        border-bottom: 1px solid #E9E9FC;
    }
    .footer--bottom {
        display: flex;
        justify-content: space-between;
        column-gap: 0;
        flex-direction: column;
        align-items: flex-start;
    }
    
  }